
ul {
	margin: 1rem 0;
	padding: 3rem;
}

li {
    font-size: 1.5rem;
}


/* Header
--------------------------------------------- */
.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background-color: #FAFAFA;
}


.nav-menu {
    list-style: none;
    display: none;

}


#site-navigation.toggled .nav-menu {
    display: block;
}

.site-navigation ul {
	display: none;
	position: absolute;
	top: 2rem;
	left: 0;
	right: 0;
	background-color: #FAFAFA;
    width: 100vw;
    height: 100vh;
}

.site-navigation li {
    padding: 2rem 0;
}


.menu-toggle {
    display: block;
    background-color: transparent;
    border: 0;
    padding: 0.5rem;
    cursor: pointer; 
}


@media (min-width: 50em) {


    .menu-toggle {
        display: none;
    }


    .nav-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

}