/* Hero
--------------------------------------------- */

.destinations-top h1 {
   color: #1a1a1a;
   font-size: 2rem;
}

.destinations-top p {
    color: #1a1a1a99;
}

.destinations-top {
    background-color:#F1F8F4;
    text-align: center;
    margin-top: 5rem;
    padding: 1rem 1rem 2rem 1rem;
}


/* Places cards
--------------------------------------------- */

.place-cards {
    margin: 3rem 1rem;
}

.place-card {
    border: 2px solid #2D7A4F15;
    padding: 0 0 1rem 0;
    border-radius: 2%;
    box-shadow: 0 0.5px 10px #1a1a1a40;
    max-width: 20rem;
    margin: 0 auto 1rem auto;
    position: relative; 
}

.place-card img {
    width: 100%;
    height: 15rem;
    margin: 0;
    padding: 0;
    object-fit: cover;
    display: block;
}

.place-card h2 {
    margin: 1rem;
}

.place-card p {
    margin: 1rem;
    color: #1a1a1a90;
}


.place-card a {
    padding: 0 1rem 1rem 1rem;
}

.place-card a::before {
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

.place-card a::after {
  content: "→";           
  margin-left: 5px;       
  font-size: 1rem;
}

.place-card:hover {
    transform: translateY(-6px);
    transition: transform 0.3s ease;
}


@media (min-width: 50em) {

    .place-cards {
        display: flex;
        justify-content: space-around;
    }
}